$white : #ffffff;
$black : #242523;

$lightThemeRed : #ba0534;
$lightThemeBlue : #2d71e3;
$lightThemeGreen : #106942;
$lightThemeOrange : #d73b07;

$darkThemeGreen: #3ee8a5;
$darkThemeOrange : #fd790f;
$darkThemeBlue : #1499e7;
$darkThemeRed : #fe4c54;