/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a.btn {
    padding: .8vh 1.8vw;
    text-decoration:none;


}

.btn {
    min-height: 3vh;
    min-width: 5vw;
    border-radius: 10px;
    box-shadow: 3px 3px 00 RGB(229, 233, 240);
    border:none;
}

.btn:hover {
    padding: .8vh 2vw;
    font-weight:bold;
    text-decoration: underline 1px solid white;
	transition: all 300ms ease-in-out;


}


@media (prefers-color-scheme: light) {
    .btn {
        box-shadow: 0 0 5px 5px RGBa(229, 233, 240, 0.8);
    }
    .btn-red {
        background-color: #ba0534;
        color: white;
    }

    .btn-green {
        background-color:#106942;
        color:white;
    }

    .btn-blue {
        background-color:#2d71e3;
        color:white;
    }
    .btn-orange {
        background-color:#d73b07;
        color:white;
    }
}

@media (prefers-color-scheme: dark) {

    .btn {
        box-shadow: 0 0 5px 5px RGBa(236, 239, 244, 0.8);
    }
    .btn-red {
        background-color: #fe4c54;
        color: white;
    }

    .btn-green {
        background-color:#3ee8a5;
        color:white;
    }

    .btn-blue {
        background-color:#1499e7;
        color:white;
    }
    .btn-orange {
        background-color:#fd790f;
        color:white;
    }
}

